<div class='well' id='searchwindow'>
	<div style="width:80%;margin-left:auto;margin-right:auto;">
		<form method='get' action='/search'>
			<label>Query</label>
			<input name='q' value='<%= @searched_for %>' size=50>
			<input type='submit' value='Find some Recipes!'>
		</form>
	</div>
	<div class='yumlogo'>
		Recipe search powered by Yummly
		<a href='http://www.yummly.com/recipes/'>
			<img src='http://static.yummly.com/api-logo.png' border=0>
		</a>
	</div>
</div>
<br/>
<div class='well' id='homewell'>
	<% if !@flash_message.nil? && !@flash_message.empty? %>
	<h3><%= @flash_message %></h3>
	<br/>
	<% end %>
	<br/>

	<h1>Welcome to Rescipe.  Matt's weird recipe API app</h1>
	With this app you will be able to :
	<ul>
		<li>Search for Recipes by ingredients</li>
		<li><span class='glyphicon glyphicon-ok'/>Search for Recipes by name</li>
		<li><span class='glyphicon glyphicon-ok'/>Recipes returned will provide link to article</li>
		<li><span class='glyphicon glyphicon-ok'/>Magnifying glass, allows view of recipe in modal</li>
		<li>Modal form buttons allow for viewing recipe, or saving to DB</li>
		<li>Graphics will display saltiness, bitterness, etc.</li>
	</ul>
	Bonus :
	<ul>
		<li>Can save favorites into a ... mongo database</li>
		<li>Can retrieve favorites</li>
		<li>Can add links manually</li>
		<li>Can search saved links</li>
	</ul>
</div>