<div class='well' id='searchwindow'>
	<div style="width:80%;margin-left:auto;margin-right:auto;">
		<form method='get' action='/search'>
			<div class='row'>
				<div class='.col-xs-6 .col-lg-4'>
					<label>Search for Recipes on Yummly</label>
				</div>
				<div class='.col-xs-12 .col-sm-6 .col-lg-8'>
					<input name='q' value='<%= @searched_for %>' size=50>
					<input type='submit' value='Find some Recipes!'>
				</div>
			</div>
		</form>
	</div>
	<div class='yumlogo'>
		Recipe search powered by Yummly
		<a href='http://www.yummly.com/recipes/'>
			<img src='http://static.yummly.com/api-logo.png' border=0>
		</a>
	</div>
</div>
<br/>
<div class='well' id='submitwindow'>
	<div style="width:80%;margin-left:auto;margin-right:auto;">
		<form method='post' action='/add_manual'>
			<div class='row'>
				<div class='.col-xs-6 .col-lg-4'>
					<label>Add a new Recipe Link</label>
				</div>
				<div class='.col-xs-12 .col-sm-6 .col-lg-8'>
					<input name='url' value='' size=50>
				</div>
			</div>
			<div class='row'>
				<div class='.col-xs-6 .col-lg-4'>
					<label>Recipe Title</label>
				</div>
				<div class='.col-xs-12 .col-sm-6 .col-lg-8'>
					<input name='recipe_name' value='' size=50>
					<input type='submit' value='Add this Recipe'>
				</div>
			</div>
		</form>
	</div>
</div>

<div class='well' id='homewell'>
	<% if !@flash_message.nil? && !@flash_message.empty? %>
	<h3><%= @flash_message %></h3>
	<br/>
	<% end %>
	<br/>

	<h1>Welcome to Rescipe.  Matt's weird recipe API app</h1>
	With this app you will be able to :
	<ul>
		<li>Search for Recipes by ingredients</li>
		<li><span class='glyphicon glyphicon-ok'/>Search for Recipes by name</li>
		<li><span class='glyphicon glyphicon-ok'/>Recipes returned will provide link to article</li>
		<li><span class='glyphicon glyphicon-ok'/>Magnifying glass, allows view of recipe in modal</li>
		<li><span class='glyphicon glyphicon-ok'/>Modal form buttons allow for viewing recipe, or saving to DB</li>
		<li>Graphics will display saltiness, bitterness, etc.</li>
		<li>
	</ul>
	Bonus :
	<ul>
		<li><span class='glyphicon glyphicon-ok'/>Can save favorites into a ... mongo database</li>
		<li><span class='glyphicon glyphicon-ok'/>Can retrieve favorites</li>
		<li><span class='glyphicon glyphicon-ok'/>Can add links manually</li>
		<li>Can search saved links</li>
	</ul>
</div>